header  {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  padding: 0;
}

.dark header a {
  color: var(--light);
}

.light header a {
  color: var(--dark);
}

.nav-link a {
  text-decoration: none;
}

.mode-btn {
  background: none;
  border: none;
  width: 0 !important;
}

.dark .mode-btn {
  color: var(--light);
}